.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  grid-row-gap: 30px;
}

.dataList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dataListItem {
  line-height: 1.5;

}

.dataListItem span {
font-weight: 600;
}

.mainHeading {
  font-size: 1.375rem;
  font-size: clamp(1.125rem, 4vw, 1.375rem);
}

.secondaryHeading {
  font-size: 2.375rem;
  background: #ffd60a;
  display: inline-block;
  padding: 10px;
  transform: rotate(-3deg);
  margin-bottom: 36px;
  font-size: clamp(2rem, 4vw, 2.375rem);
  margin-top: 36px;
}

.searchHeading {
  margin-bottom: 32px;
  margin-top: 32px;
}

.cta {
  background: #003566;
  color: #fff;
  width: 160px;
  border: 1px solid #003566;
  border-radius: 50px;
  margin-top: 15px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.cta:hover {
  background: #fff;
  border: 1px solid #003566;
  color: #003566;
}

.cardHeader {
  margin-bottom: 10px;
}

.searchLabel {
  display: block;
}

.searchInput {
  display: block;
  font-size: 1rem;
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}
